## Data Types

Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.
Python has the following data types built-in by default, in these categories:

    Text Type:	str
    Numeric Types:	int, float, complex
    Sequence Types:	list, tuple, range
    Mapping Type:	dict
    Set Types:	set, frozenset
    Boolean Type:	bool
    Binary Types:	bytes, bytearray, memoryview
    None Type:	NoneType

In [1]:
# Getting the Data Type
# You can get the data type of any object by using the type() function:

x = 5
print(type(x))

<class 'int'>

In [5]:
x = "Hello, World!"
print(type(x))
x =20.5
print(type(x))
x = 1j
print(type(x))

<class 'str'>
<class 'float'>
<class 'complex'>

In [8]:
x = ["apple", "banana", "cherry"] # List
print(type(x))
x = ("apple", "banana", "cherry") # Tuple
print(type(x))
x = {"name" : "John", "age" : 36} # Dictionary
print(type(x))
x = {"apple", "banana", "cherry"} # Set
print(type(x))
x = frozenset({"apple", "banana", "cherry"})
print(type(x))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>

In [ ]:
x = range(6) # Range
print(x)
print(type(x))
x = True # Boolean
print(type(x))

In [10]:
x = b"Hello" # Bytes
print(x)
print(type(x))

b'Hello'
<class 'bytes'>

In [12]:
x = bytearray(10) # Bytearray
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [15]:
x = memoryview(bytes(5)) # Memory View
print(x)
print(type(x))

<memory at 0x00000147B5DDEF80>
<class 'memoryview'>

In [14]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

## Setting the Specific Data Type
If you want to specify the data type, you can use the following constructor functions:

In [16]:
x = str("Hello World") # String
print(x)
print(type(x))

Hello World
<class 'str'>

In [17]:
x = int(20) # Integer
print(x)
print(type(x))

20
<class 'int'>

In [18]:
x = float(20.5) # Float
print(x)
print(type(x))

20.5
<class 'float'>

In [ ]:
x = complex(1j) # Complex
print(x)
print(type(x))

In [19]:
x = list(("apple", "banana", "cherry")) # List
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [20]:
x = ["apple", "banana", "cherry"] # List
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [21]:
x = tuple(("apple", "banana", "cherry")) # Tuple
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [23]:
x = dict(name="John", age=36) # Dictionary
print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [24]:
x = set(("apple", "banana", "cherry")) # Set
print(x)
print(type(x))

{'apple', 'cherry', 'banana'}
<class 'set'>

In [25]:
x = frozenset(("apple", "banana", "cherry")) # Frozenset
print(x)
print(type(x))

frozenset({'apple', 'cherry', 'banana'})
<class 'frozenset'>

In [22]:
x = range(6) # Range
print(x)
print(type(x))
x = True # Boolean
print(type(x))

range(0, 6)
<class 'range'>
<class 'bool'>

In [28]:
x = bool(0) # Boolean
print(x)
print(type(x))

False
<class 'bool'>

In [29]:
x = bytes(5) # Bytes
print(x)
print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [30]:
x = bytearray(5) # Bytearray
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [31]:
x = memoryview(bytes(5)) # Memory View
print(x)
print(type(x))

<memory at 0x00000147B5DDEE00>
<class 'memoryview'>

## Python Numbers
There are three numeric types in Python:
    int
    float
    complex
Variables of numeric types are created when you assign a value to them:

In [32]:
# Examples
x = 1    # int
y = 2.8  # float
z = 1j   # complex
# To verify the type of variables:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [33]:
# Type Conversion
# Convert from one type to another:

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [51]:
# Random Number generation
import random

# Generate a random integer between 1 and 10
x = random.randint(1, 10)
print(x)

# Generate a random float between 0 and 1 with limited decimals
y = round(random.random(), 5)  # 5 decimal places
print(y)

# Generate a random choice from a list
z = random.choice(['apple', 'banana', 'cherry'])
print(z)

6
0.79905
apple

In [49]:
# Limiting decimal places with random.random()
import random

# Method 1: Using round() function
random_float = random.random()
print(f"Original: {random_float}")
print(f"2 decimals: {round(random_float, 2)}")
print(f"3 decimals: {round(random_float, 3)}")

# Method 2: Using string formatting with f-strings
random_float = random.random()
print(f"2 decimals: {random_float:.2f}")
print(f"3 decimals: {random_float:.3f}")

# Method 3: Using format() function
random_float = random.random()
print("2 decimals: {:.2f}".format(random_float))
print("3 decimals: {:.3f}".format(random_float))

# Method 4: Generate random number in a specific range with decimals
# For example, random number between 0-100 with 2 decimal places
random_with_range = round(random.uniform(0, 100), 2)
print(f"Random 0-100 with 2 decimals: {random_with_range}")

# Method 5: Using decimal module for precise decimal control
from decimal import Decimal, ROUND_HALF_UP
random_float = random.random()
decimal_value = Decimal(str(random_float)).quantize(Decimal('0.01'), rounding=ROUND_HALF_UP)
print(f"Using Decimal (2 places): {decimal_value}")

Original: 0.24736960489689463
2 decimals: 0.25
3 decimals: 0.247
2 decimals: 0.22
3 decimals: 0.222
2 decimals: 0.43
3 decimals: 0.429
Random 0-100 with 2 decimals: 73.37
Using Decimal (2 places): 0.72

In [60]:
# Python Casting
# Specify a variable and cast it to a specific data type:

import string


x = 5
y = 2.8
print(float(x))
print(int(y))

# casting numbers to string
x = "5"
print(int(x))

z = int(x) + y

5.0
2
5

In [5]:
# Strings
# Strings in python are surrounded by either single quotation marks, or double quotation marks.

# 'hello' is the same as "hello".

hello = "Hello"

print(hello, "\n")
print("Hello World")

Hello

Hello World

In [ ]:
# Slice Strings
# You can return a range of characters by using the slice syntax.

b = "Hello, World!"
print(b[2:5])

llo

In [10]:
# Slice from the start
# Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[:5])

Hello

In [11]:
# Slice To the End
# Get the characters from position 2, and all the way to the end:

b = "Hello, World!"
print(b[2:])

llo, World!

In [13]:
# Negative Indexing
# Use negative indexes to start the slice from the end of the string:

b = "Hello, World!"
print(b[-5:-2], "\n")
print(b[:-5])

orl

Hello, W

In [ ]:
# Modify Strings upper(), lower(), strip()
# The upper() method returns the string in upper case.
# The lower() method returns the string in lower case.
# The strip() method removes any whitespace from the beginning or the end.

a = "Hello, World!"
print(a.upper(), "\n")
print(a.lower(), "\n")
print(a.strip(), "\n")

HELLO, WORLD!

hello, world!

Hello, World!

In [15]:
# Replace String
# The replace() method replaces a string with another string.

a = "Hello, World!"
print(a.replace("Hello", "Hi"), "\n")
print(a.replace("World", "There"), "\n")

Hi, World!

Hello, There!

In [17]:
# Split string

# The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"
print(a.split(","), "\n") # returns ['Hello', ' World!']

print(a.split(",")[0], "\n") # returns ['Hello,']
print(a.split(",")[1], "\n") # returns [' World!']

['Hello', ' World!']

Hello

 World!

In [20]:
# String Concatenation
# To concatenate, or combine, two strings you can use the + operator.

a = "Hello"
b = "World"
c = a + b
print(c, "\n")
c = a + " " + b
print(c, "\n")
c = a + "-" + b
print(c, "\n")

HelloWorld

Hello World

Hello-World

In [21]:
# String Format

age = 36
#This will produce an error:
txt = "My name is John, I am " + str(age)
print(txt)

My name is John, I am 36

In [ ]:
# F-Strings
# Python 3.6+ allows you to use f-strings for string formatting.
# Just place the variable in curly braces {}

age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [24]:
# Placeholders and Modifiers

# You can use placeholders and modifiers to format strings.
# A placeholder is a special symbol that is replaced by the value of a variable.

price = 59
txt = f"The price is {price} dollars"
print(txt, "\n")

# A placeholder can contain Python code, like math operations:

txt = f"The price is {20 * 59} dollars"
print(txt, "\n")

The price is 59 dollars

The price is 1180 dollars

In [26]:
# Escape Characters
# To insert characters that are illegal in a string, use an escape character.
# An escape character is a backslash \ followed by the character you want to insert.
# An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (3977491407.py, line 6)

In [27]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [ ]:
# String Methods Refer to following URL for more methods

# url: https://www.w3schools.com/python/python_strings_methods.asp

# There are a set of built-in methods that you can use on strings. Here are a few examples:
# Method	Description
# capitalize()	Converts the first character to upper case
# casefold()	Converts string into lower case
# center()	Returns a centered string
# count()	Returns the number of times a specified value occurs in a string
# encode()	Returns an encoded version of the string
# endswith()	Returns true if the string ends with the specified value
# index()	Searches the string for a specified value and returns the position of where it was found
# join()	Joins the elements of an iterable to the end of the string
# lstrip()	Returns a left trim version of the string
# rstrip()	Returns a right trim version of the string

In [28]:
# Bolleans Operation

print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [30]:
# Print a message based on whether the condition is True or False:

a = 200
b = 330

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is greater than a

In [31]:
print(bool("Hello"))
print(bool(15))

True
True

In [35]:
# Evaluate two variables:

x = "Hello"
y = 0

print(bool(x))
print(bool(y))

True
False

## Most Values are True
Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [36]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

## Some Values are False
In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. 
And of course the value False evaluates to False.

In [37]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [38]:
# You can create functions that returns a Boolean Value:
def myFunction() :
  return True

print(myFunction())

True

In [42]:
def myFunction() :
  return False

if myFunction():
  print("YES!")
else:
  print("NO!")

NO!

In [ ]:
# Check if an object is an integer or not:
x = 200
print(isinstance(x, int))

False