## Python Operators

# Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

    Arithmetic operators
    Assignment operators
    Comparison operators
    Logical operators
    Identity operators
    Membership operators
    Bitwise operators

# Python Arithmetic Operators

url: https://www.w3schools.com/python/python_operators.asp

Operator	Name	            Example	
+	        Addition	        x + y	
-	        Subtraction	        x - y	
*	        Multiplication	    x * y	
/	        Division	        x / y	
%	        Modulus	            x % y	
**	        Exponentiation	    x ** y	
//	        Floor division	    x // y

# Python Assignment Operators

url: s://www.w3schools.com/python/python_operators.asp

Assignment operators are used to assign values to variables:

Operator	Example	        Same As	
=	        x = 5	        x = 5	
+=	        x += 3	        x = x + 3	
-=	        x -= 3	        x = x - 3	
*=	        x *= 3	        x = x * 3	
/=	        x /= 3	        x = x / 3	
%=	        x %= 3	        x = x % 3	
//=	        x //= 3	        x = x // 3	
**=	        x **= 3	        x = x ** 3	
&=	        x &= 3	        x = x & 3	
|=	        x |= 3	        x = x | 3	
^=	        x ^= 3	        x = x ^ 3	
>>=	        x >>= 3	        x = x >> 3	
<<=	        x <<= 3	        x = x << 3	
:=	        print(x := 3)	x = 3
                            print(x)

In [ ]:
# Python Comparison Operators

url: https://www.w3schools.com/python/python_operators.asp

Comparison operators are used to compare two values:

Operator	Name	                    Example	
==	        Equal	                    x == y	
!=	        Not equal	                x != y	
>	        Greater than	            x > y	
<	        Less than	                x < y	
>=	        Greater than or equal to	x >= y	
<=	        Less than or equal to	    x <= y

# Python Logical Operators

url: https://www.w3schools.com/python/python_operators.asp

Logical operators are used to combine conditional statements:

Operator	Description	                                                Example	
and 	    Returns True if both statements are true	                x < 5 and  x < 10	
or	        Returns True if one of the statements is true	            x < 5 or x < 4	
not	        Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

# Python Bitwise Operators

url: https://www.w3schools.com/python/python_operators.asp

Bitwise operators are used to compare (binary) numbers:

Operator	Name	                Description	                                                    Example	
& 	        AND	                    Sets each bit to 1 if both bits are 1	                        x & y	
|	        OR	                    Sets each bit to 1 if one of two bits is 1	                    x | y	
^	        XOR	                    Sets each bit to 1 if only one of two bits is 1	                x ^ y	    
~	        NOT	                    Inverts all the bits	                                        ~x	
<<	        Zero fill left shift	Shift left by pushing zeros in from the right 
                                    and let the leftmost bits fall off	                            x << 2	
>>	        Signed right shift	    Shift right by pushing copies of the leftmost bit in 
                                    from the left, and let the rightmost bits fall off	            x >> 2

# Operator Precedence

url: https://www.w3schools.com/python/python_operators.asp

Operator precedence describes the order in which operations are performed.

In [1]:
# Example

print((6 + 3) - (6 + 3))

0

Operator	                Description	

()	                        Parentheses	
**	                        Exponentiation	
+x  -x  ~x	                Unary plus, unary minus, and bitwise NOT	
*  /  //  %	                Multiplication, division, floor division, and modulus	
+  -	                    Addition and subtraction	
<<  >>	                    Bitwise left and right shifts	
&	                        Bitwise AND	
^	                        Bitwise XOR	
|	                        Bitwise OR	
==  !=  >  >=  <  <=  is is 
not  in  not in 	        Comparisons, identity, and membership operators	
not	                        Logical NOT	
and	                        AND	
or	                        OR

# Python Lists operation

url: https://www.w3schools.com/python/python_lists.asp

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, 
the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [2]:
# Create a List
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [4]:
# List length

thislist = ["apple", "banana", "cherry", "cherry"]
print(len(thislist))

4

In [9]:
# List Items - Data Types
# List items can be of any data type:
# A list can contain different data types:

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["apple", "banana", "cherry", 1, 5, 7, 9, 3, True]

print(list4[5], "\n")

# What is the data type of a list?
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

7

<class 'list'>

In [ ]:
# The list() Constructor
# It is also possible to use the list() constructor when creating a new list.
thislist = list(("apple", "banana", "cherry"))  ## note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

## Python Collections (Arrays)
There are four collection data types in the Python programming language:

    **List** is a collection which is ordered and changeable. Allows duplicate members.
    **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
    **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
    **Dictionary** is a collection which is ordered** and changeable. No duplicate members.

In [ ]:
## Access List Items

thislist = ["apple", "banana", "cherry"]
print(thislist[1], "\n")  # index number start from 0

# negative indexing means start from the end
print(thislist[-1], "\n")  # -1 refers to the last item

banana

banana

In [15]:
# Range of indexes
# You can specify a range of indexes by specifying where to start and where to end the range
# When specifying a range, the return value will be a new list with the specified items.

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5], "\n")

print(thislist[:4], "\n")  # items from the beginning to, but NOT including, "kiwi"

['cherry', 'orange', 'kiwi']

['apple', 'banana', 'cherry', 'orange']

In [17]:
# Range of Negative Indexes
# SSpecify negative indexes if you want to start the search from the end of the list:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [20]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:])

['orange', 'kiwi', 'melon', 'mango']

In [ ]:
# Check if Item Exists

thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")
else:
  print("No, 'apple' is NOT in the fruits list")

Yes, 'apple' is in the fruits list

In [24]:
# Check if Item Exists
fruit = "tangerine"
thislist = ["apple", "banana", "cherry"]
if fruit in thislist:
  print(f"Yes, '{fruit}' is in the fruits list")
else:
  print(f"No, '{fruit}' is NOT in the fruits list")

No, 'tangerine' is NOT in the fruits list

In [22]:
a = "apple" in thislist
print(a)

True

In [26]:
# Python - Change List Items

thislist = ["apple", "banana", "cherry"]
thislist[1] = "kiwi"
print(thislist, "\n")

['apple', 'kiwi', 'cherry']

In [27]:
# Change a Range of Item Values
# To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["kiwi", "melon"]
print(thislist)

['apple', 'kiwi', 'melon']

In [30]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon", "papaya"]
print(thislist)

['apple', 'watermelon', 'papaya']

In [29]:
thislist = ["apple", "banana", "cherry"]
thislist[3:5] = ["watermelon", "papaya"]  # if you try to insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly
print(thislist)

['apple', 'banana', 'cherry', 'watermelon', 'papaya']

In [32]:
# Append Items
# To add an item to the end of the list, use the append() method:

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist, "\n")
thislist.append("strawberry")
print(thislist, "\n")

['apple', 'banana', 'cherry', 'orange']

['apple', 'banana', 'cherry', 'orange', 'strawberry']

In [33]:
# Insert Items
# To insert a list item at a specified index, use the insert() method.

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [35]:
# Extend List
# o append elements from another list to the current list, use the extend() method.

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist, "\n")
a = thislist + tropical
print(a)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya', 'mango', 'pineapple', 'papaya']

In [36]:
# Add Any Iterable
# The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist, "\n")

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [37]:
# Remove List Items

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist, "\n")

['apple', 'cherry']

In [40]:
# Remove the first occurrence of "banana" if same item appears more than once

thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist, "\n")

['apple', 'cherry', 'banana', 'kiwi']

In [ ]:
# 

thislist = ["apple", "banana", "cherry"]
thislist.remove(thislist[1])
print(thislist, "\n")

['apple', 'cherry']

In [42]:
# Remove Specified Index
# The pop() method removes the specified index.
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist, "\n")
thislist.pop(1)
print(thislist, "\n")

['apple', 'cherry']

['apple']

In [43]:
# f you do not specify the index, the pop() method removes the last item.

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist, "\n")

thislist.pop()
print(thislist, "\n")

['apple', 'banana']

['apple']

In [44]:
# The del keyword also removes the specified index:

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist, "\n")

['banana', 'cherry']

In [47]:
# Delete the entire list:
thislist = ["apple", "banana", "cherry"]
print(thislist, "\n")
del thislist
print(thislist, "\n")

['apple', 'banana', 'cherry']

NameError: name 'thislist' is not defined

In [48]:
# Clear the list

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist, "\n")

[]

## Python - Loop Lists
url: https://www.w3schools.com/python/python_lists_loop.asp

Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [49]:
# Print all items in the list, one by one:

thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x, "\n")

apple

banana

cherry

In [50]:
# You can loop through the list items by referring to their index number.

# Use the range() and len() functions to create a suitable iterable.

thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i], "\n")

apple

banana

cherry

In [51]:
# You can loop through the list items by using a while loop.

# Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

# Remember to increase the index by 1 after each iteration.

thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i], "\n")
  i = i + 1

apple

banana

cherry

In [52]:
# Looping Using List Comprehension

thislist = ["apple", "banana", "cherry"]
[print(x, "\n") for x in thislist]

apple

banana

cherry

[None, None, None]

In [ ]:
# List Comprehension

url: https://www.w3schools.com/python/python_lists_comprehension.asp

# skipped intentionally

## Python - Sort Lists

url: https://www.w3schools.com/python/python_lists_sort.asp

In [53]:
# Sort List Alphanumerically

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [54]:
# Sort the list numerically:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [56]:
# Sort Descending
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist, "\n")

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist, "\n")

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

[100, 82, 65, 50, 23]

## Customize Sort Function
You can also customize your own function by using the keyword argument key = function.

The function will return a number that will be used to sort the list (the lowest number first):

In [57]:
# Sort the list based on how close the number is to 50:

def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist, "\n")

[50, 65, 23, 82, 100]

In [59]:
# By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:
# Case sensitive sorting can give an unexpected result:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist, "\n")

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist, "\n")

['Kiwi', 'Orange', 'banana', 'cherry']

['banana', 'cherry', 'Kiwi', 'Orange']

In [60]:
# Reverse the order of the list items

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist, "\n")

['cherry', 'Kiwi', 'Orange', 'banana']

# Python - Copy Lists

url: https://www.w3schools.com/python/python_lists_copy.asp

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

you can use the built-in List method copy() to copy a list.

In [61]:
# Make a copy of a list with the copy() method:

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist, "\n")

['apple', 'banana', 'cherry']

In [62]:
# Use the slice Operator
# You can also make a copy of a list by using the : (slice) operator.

thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist, "\n")

['apple', 'banana', 'cherry']

In [63]:
# Python - Join Lists
# There are several ways to join, or concatenate, two or more lists in Python.

# One of the easiest way is by using the + operator.

list1 = ["a", "b", "c"]
list2 = ["d", "e", "f"]
list3 = list1 + list2
print(list3, "\n")

['a', 'b', 'c', 'd', 'e', 'f']

In [64]:
# append list2 into list1
ist1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [65]:
# Use the extend() method to add list2 at the end of list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

## List Methods
Python has a set of built-in methods that you can use on lists.

Method	        Description
append()	    Adds an element at the end of the list
clear()	        Removes all the elements from the list
copy()	        Returns a copy of the list
count()	        Returns the number of elements with the specified value
extend()	    Add the elements of a list (or any iterable), to the end of the current list
index()	        Returns the index of the first element with the specified value
insert()	    Adds an element at the specified position
pop()	        Removes the element at the specified position
remove()	    Removes the item with the specified value
reverse()	    Reverses the order of the list
sort()	        Sorts the list

## Python Tuples

url: https://www.w3schools.com/python/python_tuples.asp

Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, 
the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.: once set that can not be changed

Tuples are written with round brackets.

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

In [ ]:
# Create a Tuple

thistuple = ("apple", "banana", "cherry") # note the round-brackets
print(thistuple, "\n")

('apple', 'banana', 'cherry')

In [ ]:
# Tuple items are ordered, unchangeable, and allow duplicate values.

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple, "\n")

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [68]:
# Tuple Length
thistuple = ("apple", "banana", "cherry")

print(len(thistuple), "\n")

3

In [69]:
# Create Tuple With One Item
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [72]:
# Tuple items can be of any data type:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

# A tuple can contain different data types:

tuple4 = ("abc", 34, True, 40, "male")

In [73]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple), "\n")

<class 'tuple'>

In [74]:
# Tuple constructor

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple, "\n")

('apple', 'banana', 'cherry')

In [78]:
# Accessing tuple items

thistuple = ("apple", "banana", "cherry")
print(thistuple[1], "\n")
print(thistuple[-1], "\n")

banana

cherry

In [81]:
# Range of indexes
# You can specify a range of indexes by specifying where to start and where to end the range

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5], "\n")

print(thistuple[:4], "\n")  # items from the beginning to, but NOT including, "kiwi"

# This example returns the items from "cherry" and to the end:
print(thistuple[2:], "\n")

('cherry', 'orange', 'kiwi')

('apple', 'banana', 'cherry', 'orange')

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:
# Range of negative indexes
# Specify negative indexes if you want to start the search from the end of the tuple:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-1], "\n")

print(thistuple[-4:-1], "\n") # print items from index -4 to -1 (but NOT including -1)

mango

('orange', 'kiwi', 'melon')

In [84]:
# Check if Item Exists
# To determine if a specified item is present in a tuple use the in keyword:

thistuple = ("apple", "banana", "cherry")
if "banana" in thistuple:
    print("Yes, 'banana' is in the fruits tuple")

Yes, 'banana' is in the fruits tuple

## Python - Update Tuples
Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [85]:
# Convert the tuple into a list to be able to change it:

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [87]:
# Add items into the Tuple
# Convert the tuple into a list, add "orange", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [88]:
# Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), 
# create a new tuple with the item(s), and add it to the existing tuple:

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

## Remove items from Tuple

Tuples are unchangeable, so you cannot remove items from it, 
but you can use the same workaround as we used for changing and adding tuple items:

In [89]:
# Convert the tuple into a list, remove "apple", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

In [90]:
# The del keyword can delete the tuple completely:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

## Python - Unpack Tuples

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [91]:
# Unpacking a tuple

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [92]:
# If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

fruits = ("apple", "banana", "cherry", "orange", "grape")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'orange', 'grape']

In [93]:
# Add a list of values the "tropic" variable:

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

## Loop Tuples

Loop Through the Index Numbers
You can also loop through the tuple items by referring to their index number.

Use the range() and len() functions to create a suitable iterable

In [94]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [95]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [96]:
# Using a While Loop

thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [97]:
## Join Tuples
# To join two or more tuples you can use the + operator:

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [98]:
# Multiply Tuples
# You can multiply the content of a tuple a given number of times by using the * operator:

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

## Tuple Methods

Python has two built-in methods that you can use on tuples.

Method	        Description
count()	        Returns the number of times a specified value occurs in a tuple
index()	        Searches the tuple for a specified value and returns the position of where it was found