In [ ]:
# Python Sets

# A set is a collection which is unordered, unchangeable*, and unindexed.

myset = {"apple", "banana", "cherry"}

a, b, c = myset
print(a)
print(b)
print(c)
print(a , b, c, "\n")
print(myset, "\n")

cherry
banana
apple
cherry banana apple

{'cherry', 'banana', 'apple'}

In [ ]:
# Duplicates Not Allowed

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'banana', 'apple'}

In [5]:
# False and 0 is considered the same value:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'apple', 'cherry', 'banana'}

In [6]:
# Get the Length of a Set
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [9]:
# Set Items - Data Types
# Set items can be of any data type:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

# A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}

myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [ ]:
# The set() Constructor

thisset = set(("apple", "banana", "cherry"))

# Note: the set list is unordered, so the result will display the items in a random order.
print(thisset)

{'cherry', 'banana', 'apple'}

## Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [15]:
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [16]:
# Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [17]:
# Check if "banana" is NOT present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

In [20]:
# Add Items in the set
# Once a set is created, you cannot change its items, but you can add new items.

# To add one item to a set use the add() method.

thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'cherry', 'banana', 'orange', 'apple'}

In [21]:
# Add Sets
# To add items from another set into the current set, use the update() method.

thisset = {"apple", "banana", "cherry"}
thisset2 = {"orange", "mango", "grape"}
thisset.update(thisset2)
print(thisset)

{'grape', 'mango', 'apple', 'cherry', 'banana', 'orange'}

In [22]:
# Add Any Iterable
# The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

thisset = {"apple", "banana", "cherry"}
thislist = ["orange", "mango", "grape"]
thisset.update(thislist)
print(thisset)

{'mango', 'grape', 'apple', 'cherry', 'banana', 'orange'}

## Python - Remove Set Items

Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [24]:
# Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

# If the item to remove does not exist, remove() will raise an error.
# To avoid this, use the discard() method if the item to remove may not exist.

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}
{'cherry', 'apple'}

You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the pop() method is the removed item.

In [25]:
# Remove a random item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'banana', 'apple'}

In [26]:
# The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [27]:
# The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

## Loop Items
You can loop through the set items by using a for loop:

In [28]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

## Python - Join Sets

There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [31]:
# The union() method returns a new set with all items from both sets.
thisset = {"apple", "banana", "cherry"}
thisset2 = {"orange", "mango", "grape"}
thisset3 = thisset.union(thisset2)
print(thisset3)

# Join set1 and set2 into a new set:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

# You can use the | operator instead of the union() method, and you will get the same result.

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'grape', 'mango', 'apple', 'cherry', 'banana', 'orange'}
{'a', 1, 2, 3, 'c', 'b'}
{'a', 1, 2, 3, 'c', 'b'}

In [33]:
# Join Multiple Sets
# All the joining methods and operators can be used to join multiple sets.
# When using a method, just add more sets in the parentheses, separated by commas:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

# When using the | operator, separate the sets with more | operators:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 | set4
print(myset)

{1, 2, 3, 'apple', 'a', 'bananas', 'cherry', 'John', 'Elena', 'c', 'b'}
{1, 2, 3, 'apple', 'a', 'bananas', 'cherry', 'John', 'Elena', 'c', 'b'}

In [37]:
# Join a Set and a Tuple
# The union() method allows you to join a set with other data types, like lists or tuples.
# 
# join a set and a tuple: the reuslt will be a set
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)
print(type(z))

{1, 2, 3, 'a', 'c', 'b'}
<class 'set'>

In [ ]:
# The update() method inserts all items from one set into another.
# The update() changes the original set, and does not return a new set.
# Note: Both union() and update() will exclude any duplicate items.
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)
print(set2)

{'a', 1, 2, 3, 'c', 'b'}
{1, 2, 3}

In [ ]:
# Intersection
# Keep ONLY the duplicates

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [41]:
# You can use the & operator instead of the intersection() method, and you will get the same result.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [42]:
# Difference
# The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.
# Keep all items from set1 that are not in set2:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)
print(set3)

{'cherry', 'banana'}

In [43]:
# You can use the - operator instead of the difference() method, and you will get the same result.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

In [45]:
# Symmetric Differences
# The symmetric_difference() method will keep only the elements that are NOT present in both sets.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

# You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'google', 'cherry', 'microsoft', 'banana'}
{'google', 'cherry', 'microsoft', 'banana'}

#   Python frozenset
frozenset is an immutable version of a set.
Like sets, it contains unique, unordered, unchangeable elements.
Unlike sets, elements cannot be added or removed from a frozenset.

In [46]:
# Use the frozenset() constructor to create a frozenset from any iterable.

x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

## Frozen Set Methods

Method	                Shortcut	        Description	
copy()	 	                        Returns a shallow copy	
difference()	        -	        Returns a new frozenset with the difference	
intersection()	        &	        Returns a new frozenset with the intersection	
isdisjoint()	 	                Returns whether two frozensets have an intersection	
issubset()	            <= / <	    Returns True if this frozenset is a (proper) subset of another	
issuperset()	        >= / >	    Returns True if this frozenset is a (proper) superset of another	
symmetric_difference()	^	        Returns a new frozenset with the symmetric differences	
union()	                |	        Returns a new frozenset containing the union

## Python Set Methods

Method	                    Shortcut	Description
add()	 	                            Adds an element to the set
clear()	 	                            Removes all the elements from the set
copy()	 	                            Returns a copy of the set
difference()	                -	    Returns a set containing the difference between two or more sets
difference_update()	            -=	    Removes the items in this set that are also included in another, specified set
discard()	 	                        Remove the specified item
intersection()	                &	    Returns a set, that is the intersection of two other sets
intersection_update()	        &=	    Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	 	                    Returns whether two sets have a intersection or not
issubset()	                    <=	    Returns True if all items of this set is present in another set
 	                            <	    Returns True if all items of this set is present in another, larger set
issuperset()	                >=	    Returns True if all items of another set is present in this set
 	                            >	    Returns True if all items of another, smaller set is present in this set
pop()	 	                            Removes an element from the set
remove()	 	                        Removes the specified element
symmetric_difference()	        ^	    Returns a set with the symmetric differences of two sets
symmetric_difference_update()	^=	    Inserts the symmetric differences from this set and another
union()	                        |	    Return a set containing the union of sets
update()	                    |=	    Update the set with the union of this set and others